* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  width: 450px;
}

.inner {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

.button__blue {
  background-color:cornflowerblue;
  border: none;
  color: #FFF;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

button, img {
  margin: 15px 0;
}

p {
  font-size: 13px;
}

.name {
  font-size: 11px
}

.main .material-icons {
  color: cornflowerblue;
}

input {
  width: 300px;
  height: 30px;
  background-color: whitesmoke;
  border: none;
  outline: none;
  padding: 3px 5px;
}

.search form button {
  width: 50px;
  height: 30px;
  margin: 0;
}

.letter {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: cornflowerblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  margin-right: 8px;
}

.btn__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.btn__white {
  background-color: #FFF;
  border: 1px solid cornflowerblue;
  margin-right: 8px;
  font-size: 14px;
  padding: 5px 12px;
}