* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  width: 450px;
}

.inner {
  width: 800px;
  text-align: center;
  margin: 50px 0;
}

button {
  background-color:cornflowerblue;
  border: none;
  color: #FFF;
  width: 100px;
  height: 40px;
  font-size: 15px;
}

button, img {
  margin: 15px 0;
}

p {
  font-size: 13px;
}

.name {
  font-size: 11px
}

.main .material-icons {
  color: cornflowerblue;
}

input {
  width: 300px;
  height: 30px;
  background-color: whitesmoke;
  border: none;
  outline: none;
  padding: 3px 5px;
}

.search form button {
  width: 50px;
  height: 30px;
  margin: 0;
}